body {
    background-color: rgb(236, 235, 228);
    font-family: 'Montserrat', sans-serif;
}

.pontas {
    background-color: rgb(218, 221, 216);
    font-size: medium;
}

.nav {
    background-color: rgb(238, 240, 242);
}